In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np
import scipy.stats as stats

**Test statisici**

Utilizziamo la tabella integrate_titles che abbiamo prodotto durante il primo laboratorio. Vi ricordo che abbiamo effettuato integrazione di due dataset provenienti da Disney+ e Netflix, contenenti informazioni circa film e serie tv rilasciate sulle due piattaforme di streaming. 
Il dataset integrato è stato pulito e risulta quindi pronto per ulteriori analisi. 

1. Importiamo il dataset:

In [2]:
integrate_titles = pd.read_csv("integrate_titles_3.csv")

visualizziamo il dataset

In [3]:
integrate_titles.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,id,title,type,release_year,age_certification,runtime,genres,...,director,country,date_added,rating,duration,year,month,day,imdb_score_quant,release_year_quant
0,1,1,1,tm82169,Rocky,MOVIE,1976,PG,119,"['drama', 'sport']",...,John G. Avildsen,United States,2019-08-01,PG,120 min,2019.0,8.0,1.0,EXCELLENT,VERY OLD
1,2,2,2,tm17823,Grease,MOVIE,1978,PG,110,"['comedy', 'romance']",...,Randal Kleiser,United States,2019-11-01,PG,110 min,2019.0,11.0,1.0,VERY GOOD,VERY OLD
2,3,3,3,tm69975,Rocky II,MOVIE,1979,PG,119,"['drama', 'sport']",...,Sylvester Stallone,United States,2019-08-01,PG,119 min,2019.0,8.0,1.0,VERY GOOD,VERY OLD
3,4,4,4,tm127384,Monty Python and the Holy Grail,MOVIE,1975,PG,91,"['fantasy', 'comedy']",...,"Terry Gilliam, Terry Jones",United Kingdom,2019-01-02,PG,92 min,2019.0,1.0,2.0,EXCELLENT,VERY OLD
4,5,5,5,ts22164,Monty Python's Flying Circus,SHOW,1969,TV-14,30,"['comedy', 'european']",...,NaN,United Kingdom,2018-10-02,TV-14,4 Seasons,2018.0,10.0,2.0,EXCELLENT,VERY OLD

In [5]:
integrate_titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4170 entries, 0 to 4169
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0.2          4170 non-null   int64
 1   Unnamed: 0.1          4170 non-null   int64
 2   Unnamed: 0            4170 non-null   int64
 3   id                    4170 non-null   object
 4   title                 4170 non-null   object
 5   type                  4170 non-null   object
 6   release_year          4170 non-null   int64
 7   age_certification     2593 non-null   object
 8   runtime               4170 non-null   int64
 9   genres                4170 non-null   object
 10  production_countries  4170 non-null   object
 11  seasons               1588 non-null   float64
 12  imdb_id               4170 non-null   object
 13  imdb_score            4170 non-null   float64
 14  imdb_votes            4165 non-null   float64
 15  tmdb_popularity       4139 non-null   float64
 16  tmdb_score            4068 non-null   float64
 17  director              2634 non-null   object
 18  country               3790 non-null   object
 19  date_added            4169 non-null   object
 20  rating                4168 non-null   object
 21  duration              4169 non-null   object
 22  year                  4169 non-null   float64
 23  month                 4169 non-null   float64
 24  day                   4169 non-null   float64
 25  imdb_score_quant      4170 non-null   object
 26  release_year_quant    4170 non-null   object
dtypes: float64(8), int64(5), object(14)
memory usage: 879.7+ KB

**Parte 1. Usiamo la visualizzazione per farci delle idee**

Visualizziamo i valori di imdb_score, separati per type, utilizzando dei box plot.

prima di tutto verifichiamo che non ci siano valori nulli, come fatto la scorsa volta, eliminando eventualmente le righe con imbd_score è nullo.

In [ ]:
#codice qui

stessa cosa per tmdb

In [ ]:
#codice qui

visualizziamo quindi, quanto richiesto (ricordiamo che la funzione da utilizzare è boxplot di pandas con column e by per il raggruppamento).

In [ ]:
#codice qui

sembrerebbe che i due box plots si sovrappongano, ma che, in generale, la mediana della valutazione per le serie sia maggiore rispetto ai movie. 
Ripetiamo ora la stessa cosa per tmdb_score

In [ ]:
#codice qui

troviamo un andamento simile per il tmdb_score. 
A questo punto ci chiediamo, questa differenza è statisticamente significativa? come possiamo fare per dimostrarlo?

Possiamo utilizzare un test statistico. Proviamo con un t-test. 

Sappiamo che si devono verificare alcune ipotesi:
1. Campione con numero di elementi n > 30;
2. Popolazione N almeno dieci volte superiore al campione N > 10*n.

Prima di tutto, stampiamo il numero di elementi per le due classi (SHOW e MOVIE)

In [ ]:
#codice qui

le ipotesi sono verificate, quindi possiamo applicare un t-test.

Scegliamo un livello di significatività di 0.05 (intervallo di confidenza di 0.95). 

ipotesi nulla 

H0 = le media di imdb_score di SHOW e MOVIE non sono statisticamente diverse;

ipotesi alternativa

HA = le medie sono diverse.


significatività = 0.05

In [ ]:
#codice qui

che cosa deduciamo da questo?

siccome il p-value << significatività; deduciamo che possiamo rigettare l'ipotesi nulla in favore di quella alternativa.

verifichiamo ora che la media dello score dei film sia più bassa rispetto a quella degli show. Dobbiamo usare il t-test ad una coda. Scegliamo un livello di significatività di 0.05 (intervallo di confidenza di 0.95). 

ipotesi nulla 

H0 = la media di imdb_score dei film è inferiore rispetto a quella degli show. 

ipotesi alternativa

HA = la media di imdb_score è maggiore o uguale rispetto a quella degli show. 


significatività = 0.05

In [ ]:
#codice qui

e facciamo anche un'ultima prova come sanity check, verificando l'alternativa rimasta.

In [ ]:
#codice qui

ripetete quanto appena fatto per lo score di tmdb (applicate l'ipotesi che ritenete più corretta, usando i box plots per avere l'idea precisa).

In [ ]:
#codice qui

adesso approfondiamo la nostra analisi, prima di tutto visualizzando lo score dei film vecchi (prima del 2010) e recenti (post 2010).
Innanzitutto, creiamo una nuova colonna che ci dica se il film è vecchio o nuovo, secondo questa classificazione. Potremmo mettere 1 se è vecchio e 0 altrimenti.

In [ ]:
#codice qui

stampiamo il risultato (primi 50 elementi)

In [ ]:
#codice qui

quindi visualizziamo con box plot

In [ ]:
#codice qui

vi sembra che ci sia una differenza statistica tra le due classi che abbiamo creato?
utilizziamo un t-test. Ripetiamo le verifiche necessarie, e poi eseguiamo il t-test. 

Scegliamo un livello di significatività di 0.05 (intervallo di confidenza di 0.95). 

ipotesi nulla 

H0 = le media di imdb_score dei film old e recenti non sono statisticamente diverse

ipotesi alternativa

HA = le medie sono diverse.


significatività = 0.05

In [ ]:
#codice qui

Deducete voi i risultati di questo t-test, e ditemi se vi torna il risultato.

A questo punto, utilizziamo le colonne  quantize_imdb_score e quantize_release_year che abbiamo prodotto durante lo scorso laboratorio. 
Recuperiamo la rappresentazione OLAP, e visualizziamo il numero di MOVIE, con uno slicing, concentrandoci su quantize_imdb_score.

In [ ]:
quantize_imdb_score = ['LOW','SUFFICIENT','GOOD','VERY GOOD','EXCELLENT']
quantize_release_year = ['VERY OLD','OLD','RECENT','VERY RECENT']
quantize_type = ['MOVIE','SHOW']
OLAP = np.zeros((5,4,2))
for z in range(0,len(quantize_type)):
  Awards_prog_z = integrate_titles[integrate_titles['type']==quantize_type[z]]
  for j in range(0,len(quantize_release_year)):
    for i in range(0,len(quantize_imdb_score)):
      OLAP[i,j,z] = np.sum((Awards_prog_z['imdb_score_quant'] == quantize_imdb_score[i]) &(Awards_prog_z['release_year_quant'] == quantize_release_year[j]))

facciamo un dicing, concentrandoci su MOVIE e film RECENT.

In [ ]:
#codice qui

Utilizzando altri servizi di streaming, otteniamo una versione analoga delle colonne quantizzate, relative ai soli film recenti (gli stessi del nostro dataset), di questo tipo:

In [ ]:
imdb_score_altri_servizi = [180,410,700,370,46]

vogliamo capire se i conteggi estratti dalle due diverse sorgenti (netflix e disney+ e altre due) appartengono alla stessa distribuzione.
Possiamo farlo applicando un test chi-quadrato.

Usiamo un Chi-quadrato per l'idoneita'. Condizioni.

Abbiamo almeno 5 conteggi? SI;
Le singole osservazioni sono indipendenti e le dimensioni della popolazione devono essere pari ad almeno 10 volte quelle del campione (10n < N). Verificata, abbiamo oltre 4000 film soltanto nel dataset Netflix e Disney+.

In [ ]:
#codice qui

interpretiamo i risultati del test:

i gradi di libertà sono n = (numero di colonne -1) = 5 - 1 = 4.

scegliamo un intervallo di confidenza di 0.95.

Prendendo la tabella del chi-quadrato, notiamo che il valore critico del Chi quadrato è 9.488, quindi il valore ottenuto è < del valore critico. 

Deduciamo allora che non possiamo rigettare l'ipotesi nulla, secondo cui gli indici imbd_score relativi ai due servizi di streaming seguono la stessa distribuzione.

Dagli stessi servizi di streaming alternativi a Netflix e Disney plus, troviamo che i film con gradimento low, hanno la seguente distribuzione in termini di anno di rilascio:

In [ ]:

release_year_altri_servizi_old_movies = [20,42,250,299]

verificate se i conteggi estratti dalle due sorgenti seguono la stessa distribuzione.

**tip** calcoliamo prima il numero di gradi di libertà, poi confrontiamo, al solito, il p-value ottenuto con il valore estratto dalla tabella del chi-quadrato.

In [ ]:
#dicing su MOVIES e LOW IMDB_SCORE 
#test chi-quadrato idoneità

commentate con le opportune conclusioni.